<div class="input-box"> {# NAME #}
    <div class="input-title">Nome</div>
    <input type="text" name="name" value="{{user.name}}" placeholder="Digite o nome completo">
</div>
<div class="input-box"> {# EMAIL #}
    <div class="input-title">E-mail</div>
    <input type="email" name="email" value="{{user.email}}" placeholder="Digite o e-mail" onblur="Validate.apply(this,'isEmail')">
</div>
<div class="input-box"> {# PASSWORD #}
    <div class="input-title">Senha</div>
    <input type="password" name="password" placeholder="Digite a senha">
</div>