@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

/* HOME BANNER */

.banner{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    padding: 6%;
    background: #FBDFDB;
    border-radius: 30px;
}

.banner-text{
    display: block;
    margin: 80px 30px;
    text-align: left;
}

.banner-text h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 5px;
}

.banner-text p{
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
}

.banner-img{
    margin:auto;
    position: absolute;
    right: 7%;
    top: 24%;
}

/* HOME - Mais Acessadas */

.mais-acessadas-titulo{
    font-size: 24px;
    font-weight: 700;
    margin: 70px 0 25px;
}

/* ABOUT PAGE */
.sobre-content-box{
    position: relative;
    padding: 40px 0;
}

.text-box{
    margin-bottom: 20px;
}

.sobre-h2, .sobre-h3{
    
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 20px;
}

.sobre-h3{
    font-size: 20px;
}

.sobre-p{
    margin-bottom: 20px;
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}

/* STD BUTTON*/
.button{
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #eee;
    background-color: #6558c3;
    padding: 8px 24px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}
.button:hover{
    opacity: 0.8;
}

/* RECIPE CARD */
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 25px;
    column-gap: 15px;
    margin: 0 0 50px;
}

.card-img{
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.admin-card h4,
.card h4{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    cursor: pointer;
    display: block;
}

.card-autor{
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    margin-bottom: 15px;
    cursor: pointer;
}

.admin-card a{
    font-family: 'Roboto', sans-serif;
    padding: 2px 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #6558c3;
    text-decoration: none;
    border: 1px solid transparent;
}
.admin-card a:hover{
    color: #423892;
    border: 1px solid #423892;
    border-radius: 4px;
}

.admin-cards{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.admin-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
    align-items: center;
}

.admin-card img{
    max-height: 120px;
    max-width: 240px;
    width: auto;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    object-position: 50% 50%;
}

.admin-card small{
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    margin: 2% 0 4%;
    display: block;
}

/* INPUT */
.input-box{
    margin: 24px 0;
}

.input-title{
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.input-box button{
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #6558c3;
    text-decoration: none;
    margin: 4px 0;
    display: block;
    cursor: pointer;
    outline: none;
}

.input-box input,.input-box textarea{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 8px 4px;
}

.input-box select{
    width: 100%;
    color: #555;
    padding: 8px 4px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    font-weight: 700;
    font-size: 18px;
}

/* SHOW DETAILS */
.details-container{
    padding-bottom: 50px;
}

.details-box{
    padding-top: 25px;
    box-sizing: border-box;
}

.details-h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.details-h2{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #111111;
    display: inline;
}

.details-p{
    margin: 20px 0 40px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.details-list{
    margin: 20px 0 40px;
    list-style: none;
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}

.hide-link, .show-link{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #999999;
    cursor: pointer;
}
.hide-link:hover, .show-link:hover{
    color: #777777;
}

.hide{
    display: none;
}